<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Duration Updater!</title>
    <link rel="stylesheet" href="css/loading-bar.min.css">  
    <link rel="stylesheet" href="css/bootstrap.min.css">  
    
    
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/loading-bar.min.js"></script>
    <script src="js/script.js"></script>
    
</head>
<body ng-app="App" ng-controller="App">
    <div style="margin: auto; width:100%; max-width: 1000px;">
        
        <h1>Manual Audio Duration Updater</h1><hr />
       
        <table style="width:100%;">
            <tr>
                <td>
                    <strong>View: </strong>
                </td>
                <td>
                    <select class="form-control" name="pages" ng-change="actions.all(currentPage)" ng-model="currentPage">
                        <option ng-repeat="p in pages" value="{{p - 1}}">{{p}}</option>
                    </select>
                </td>
                <td><button class="btn btn-default" ng-click="actions.all(currentPage)">Reload</button> </td>
               
                <td style="width: 50px;"></td>
                
                <td>
                    <strong>Actions: </strong>
                </td>                
                <td>
                    <button class="btn btn-primary" ng-click="actions.check()">CHECK</button> 
                </td>
                
                <td style="text-align:right;">
                    <button class="btn btn-success" ng-click="actions.refreshAll()">Refresh All</button>
                    <button class="btn btn-primary" ng-show="refreshed" ng-click="actions.updateAll()">Update All</button>
<!--                    <button class="btn btn-danger" ng-show="refreshed" ng-click="actions.removeAll()">Remove All</button>-->
                </td>
            </tr>
        </table>
        <hr>

        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Source</th>
                <th>Duration</th>
                <th>Fresh Duration</th>
                <th>Updated OK</th>                
                <th>Actions</th>
            </tr>
            
            <tr ng-repeat="item in data track by $index">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td><a href="{{item.src}}" target="_blank">Listen</a></td>
                <td>{{item.duration}}</td>                
                <td> {{item.freshDuration}} </td>
                <td><span ng-show="item.ok">OK</span></td>
                <td>
                    <button class="btn btn-success btn-block" ng-click="actions.refreshThis(item.id)">Refresh</button>
                    <button class="btn btn-primary btn-block" ng-click="actions.updateThis(item.id)" ng-show="item.freshDuration">Update</button>
                    <button class="btn btn-danger btn-block" ng-click="actions.removeThis(item.id)" ng-show="!item.freshDuration && refreshed">Remove</button>
                </td>
            </tr>
        </table>
    </div>
    
</body>
</html>